body {
  background-image: url('/starrySky.jpg');
  background-size: cover;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
}

.item {
  background-color: lightblue;
  padding: 50px;
  text-align: center;
  border-radius: 6px;
  font-size: large;
}

h1 {
  color: white;
}

div.horoscope-container > a {
  color: rgb(129, 174, 175);
  font-size: x-large;
}