body {
  background-image: url('/starrySky.jpg');
  background-size: cover;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.item {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}